@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.bemvindo1{
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    color: #96c434;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo1 {
    margin-top: 0.5em;
    margin-right: 3.1em;
    margin-bottom: -0.8em;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
   
}

#titulo2{
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    margin-bottom: -0.2em;
}


.paragrafo1 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-right: 5em;
    font-weight: bold;
    animation: Grow 2s ease-in-out forwards;
}

span {
    animation: Grow 2s ease-in-out forwards;
    margin-right: 2.9em;
}


.btn {
    background-color: #96c434;
    border-radius: 10px;
    width: 330px;
    height: 50px;
    line-height: 45px; /* Centraliza o texto verticalmente */
    text-align: center;
    color: white;
    text-decoration: none;
    border: 3px solid #96c434;
    font-family: Arial, sans-serif; /* Garanta que a fonte seja consistente */
    font-size: 16px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */
    transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
    animation: Grow 2s ease-in-out forwards;
}

.container-btn1{
    display: flex;
    margin-top: 2.9em;
    flex-direction: column-reverse; /* Coloca o botão acima da imagem */
    align-items: center; /* Centraliza ambos horizontalmente */
    transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
    animation: Grow 2s ease-in-out forwards;
}

.btn:hover {
    box-shadow: 0 0 40px 40px rgba(65, 60, 60, 0.7) inset; /* Sombra com tom vermelho */
    background-color: #78a518; /* Tonalidade um pouco mais clara de preto */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
}

.container-img1 {
    display: inline-block;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */
    height: 30vh;           /* Altura do contêiner (opcional) */
    width: 100%;            /* Largura do contêiner (opcional) */
    margin-top: 4em;
    animation: Grow 2s ease-in-out forwards;
}

img {
    height: 350px;
    width:355px;
    position: relative;
    top: 6em;
    animation: Grow 2s ease-in-out forwards;
    
}

.container_principal1{
    width: 100%;
}

@keyframes Grow {
    0% {
        transform: scale(0.3); /* Tamanho inicial */
    }
    100% {
        transform: scale(1.0); /* Aumenta o tamanho em 20% */
    }
}